.commander-table {
  width: 100%;
  border: 1px solid black;
}

.commander-table thead {
  border-bottomer: 1px solid black;
}

.commander-table tr {
  border
}

.commander-table img {
  width: 200px;
}